/*!
 * Start Bootstrap - Creative v3.3.7+1 (http://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/*!
 * Main Css 
 * Copyright 2016 JLPD
 */

/* CSS imports */
@import url('Fonts.css');
@import url('Header.css');
@import url('Modal.css');
@import url('navBar.css');
@import url('Sidebar.css');
@import url('Social.css');
@import url('Pannel.css');
@import url('mobileButtons.css');
@import url('googleRating.css');
@import url('HeaderMobile.css');
@import url('PannelMobile.css');

nav#mainNav{
    height: 50px;
}

/* Materialize parallax */
.parallax-container {
      height: 750px !important;
}

/* Button image side */
 input[type="image"] {
         width: 45%;
    }
/*---------------- Surprise Me Button-------------------*/
.col-xs-6{

    width:33%;
}
#surpriseButton:active{

    animation: spin8 .2s infinite linear;
}
@keyframes spin8 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}	
}
/*--------------------------------------------------------*/

/*-------Campus Dropdown----------------------------------*/
.dropdown-menu {
    position: absolute;
    left: 30%;
    width: 40%;
    font-family: Dense-Regular, sans-serif;
    font-weight: 900;
    font-size: 18px;
    word-spacing: 1px;
}

#campusDropDown{
    width: 40%;
    font-family: Dense-Regular, sans-serif;
    font-size: 20px;
}
*:focus {
    outline: none;
}
/*---------------------------------------------------------*/
h3 { 
    font-family: Dense-Regular, sans-serif;
    font-size: 40px;
}
#address {
    width: 200px;

}

#map {

    float: left;
    z-index: 1;
    height: 86%;
    color: black;
}

#contact {
    background-color: white;
    color: black;
    float:left;
    width: 100%;
}
#services {
    position: relative;
    margin: 1%;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;

}
hr {
  border-color: #012546;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #012546;
}
a:hover,
a:focus {
  color: #012546;
}
h1,
h4,
h5,
h6 {
  font-family: Dense-Regular, sans-serif;
}
h2{
    font-family: BrannbollSS_PERSONAL, sans-serif;
    font-weight: 300;
    font-size: 50px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #012546;
}
.bg-dark {
  background-color: #222222;
  color: white;
  float:left;
  width: 100%;
  z-index:2;
}
.text-faded {
  color: #012546;
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
.campus {
    padding: 2% 2%;
    font-family: couture-bld, sans-serif;
    font-size: small;

}
#text{
    font-size: 30px;
    font-family: BrannbollSS_PERSONAL;
    margin-bottom: 2%;
}

body {
  webkit-tap-highlight-color: #222222;
}


@media (min-width: 1220px) {

.overlap{
  position: relative;
  z-index:2;
  top: 6.3%;
  right: 40%;
  width: 20%;
  background: white;
  padding: 0;
  height: 800px;
  margin: 0;
}

}
