﻿/*!
 * Font Css 
 * Copyright 2016 JLPD
 * Fonts used through out the website
 */

@font-face {
    font-family: 'Dense-Regular';
    src: url('../Fonts/Dense-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BrannbollSS_PERSONAL';
    src: url('../Fonts/Nickainley-Normal.ttf') format('truetype');
}