﻿/*!
 * Google Ratings
 * Copyright 2016 JLPD
 * Implementation of the of the google rating stars *not working yet
 */

#googleRating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
#googleRating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

#googleRating> span:hover ~ span {
  color: transparent;
}
    
#googleRating[value=_3] {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
}
