﻿/*!
 * Header css
 * Copyright 2016 JLPD
 * Header styles for the mobile verison 
 */

@media (max-width: 414px) {
    header .header-content .header-content-inner #fast {
        font-size: 120px;

    }
    header .header-content .header-content-inner #food{
            font-size: 65px;
            margin-top: 20%
    }
    #text{
        font-size: 20px ! important; 
        padding-top: 5%;
    }

}
