﻿/*!
 * Header css
 * Copyright 2016 JLPD
 */

/* Default header style*/
header {
  position: relative;
  width: 100%;
  background-size: cover;
   min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  /*background-image: url('../img/header.jpg');*/
  text-align: center;
}
header .header-content {
  position: relative;
  text-align: center;
    padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1{
  font-weight: 800;
  /*text-transform: uppercase;*/
  height: 80px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: BrannbollSS_PERSONAL, sans-serif; 
  font-size: 100%;
  color: #292929;
  text-shadow: 0px 1px #e2e2e2;
}

header .header-content .header-content-inner #food{
  font-weight: 900;
  font-size: 85px;
}
header .header-content .header-content-inner #fast {
    font-family: Dense-Regular, sans-serif;
    height: 100px;
    font-weight: 800;
    font-size: 180px;

}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}

/* Header style for the screen size over 768px*/
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
  }
}
