﻿/*!
 * Mobile Buttons CSS
 * Copyright 2016 JLPD
 * Style for the services buttons
 */


/* resize the image depending on the page size*/
@media (max-width: 1000px) {
   input[type="image"] {
         width: 55% !important;
    }
    h3{
        font-size:25px !important;
    }
}

@media (max-width: 1200px) {
   input[type="image"] {
         width: 55% !important;
    }
    h3{
        font-size:25px !important;
    }
}
