﻿/*!
 * Modal Content CSS
 * Copyright 2016 JLPD
 * Style for the popup models
 */

/* Modal Content default styles */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    color: black;
}

/* DropDown modal style */
.dropDown {
    width: 70%;
    border-radius: 15px;
    border: 1px solid black;
    height: 40px;
    font-family: Dense-Regular, sans-serif;
    font-size: 20px;

}
#transportationTitle{
    font-family: BrannbollSS_PERSONAL, sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 0% 0% 5% 0%;
}
.modal-title{
    font-weight: 800;
    font-family: Dense-Regular, sans-serif;
    /*font-family: BrannbollSS_PERSONAL, sans-serif;*/
}


#submit{
    width: 60%;
    margin-left: 1%;
    font-size: 25px;

}
/* Override defualt button styles */
.buttonStyle {

    font-family:  Dense-Regular, sans-serif;
    border-radius: 3px;
    color: black !important;
    border: 2px solid black !important;
    background-color: transparent;


}
.checkbox{
    margin: 5% 0% 5% 10%;
}

.checkbox label, .radio label {
    margin-left: 20%;

    }
#center{
    margin-left:25%;
}

div#transportationModal{
    background: transparent;
    box-shadow: none;
}
div#preferencesModal
{
    background: transparent;
    box-shadow: none;
    max-height: none;
}
button.btn.btn-default.buttonStyle {
    background: transparent;
    font-size: 16px;
}