﻿/*!
 * Top NavBar CSS
 * Copyright 2016 JLPD
 * Style for the top nav bar
 */

/* mobile version for the top nav bar */
.nav-tabs>li {
  float: none;
}
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  margin: 0;
  border-radius: 0;
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}

.navbar-default {
  background-color: #ECECEC;
  border-color: #012546;
  font-family: Dense-Regular, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: black;

}
.navbar-header {
   padding-left: 2%;
}
.navbar-default .navbar-header .navbar-brand {
  color: black;
  font-family: Dense-Regular, sans-serif;
  font-weight: 700;
  text-transform: uppercase;

}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #07d7f8;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #012546;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #012546;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #012546;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: orange !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
        background-color: transparent;
 }





/* Nav bar when at full screen*/
@media (min-width: 768px) {
    /* background color and border*/
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
    font-size: 24px;
    color: black;
  }
  /* padding for img */
  .navbar-default .navbar-header .navbar-brand {
    padding: 5%;
      color: black;
  }

 /* color of font when mouse hovers over the */
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: white;
  }
/* color of font when bar is at the top of the page */
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #012546;
  }

  /* color of bar when the page moves*/
  .navbar-default.affix {
    background-color: #012546;
    border-color: rgba(34, 34, 34, 0.05);
  }

  /* when the bar is at the top and the mouse hovers over text*/
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: white;
  }

  /*when the bar moves lower make the font blue*/
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #f27030;
  }
  /*when mouse moves over text*/
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #07d7f8;
  }
}