﻿/*!
 * Map Pannel CSS
 * Copyright 2016 JLPD
 * Style for the Map Pannel
 */


ol li {
    list-style-type: none;
    padding: 5% 2% 5% 2%;
    border-bottom: 1px solid black;
}
.mrPanel {
    
}
#side_bar {
    height:75%;
    border-left:5px solid red;
    margin-left:60px;
}
     
.mapPanel {
    background: white;
    float: left;
    width: 20%;
    height: 86%;
    z-index: -1;
    color:black;
    overflow: scroll;
    overflow-x: hidden;
    font-family: Dense-Regular, sans-serif;
    font-size: 30px;
}
#right-panel{
    font-size: 12px;
}
.mrPanel{
    font-size: 25px;
}
.pannelButton{

    font-family: Dense-Regular, sans-serif;
    border-radius: 3px;
    color: #292929 !important;
    border: 1px solid black !important;
    background-color: transparent;
    font-weight:500;
    font-size: 25px;
}
#Details{
    font-size: 16px;
    margin-left: 2%;
}
