﻿/*!
 * Mobile Map Pannel CSS
 * Copyright 2016 JLPD
 * Style for the Map Pannel
 */


@media (max-width: 450px){

    ol.mPanel{
        padding-left: 0px !important;
    }
    input[type="image"] {
        width: 80% !important;
    }

}
@media (max-width: 700px){

    ol.mPanel{
        padding-left: 0px !important;
    }
    input[type="image"] {
        width: 80% !important;
    }
    h3{
        font-size:20px !important;
    }
    .mapPanel{
        width:35%;
    }
    #map{
        width:65% !important;
    }
    h2{
        font-size: 35px !important;
    }
    #right-panel{
        width: 100%;
        height: 300px;

    }
    .social .link{
         width: 60px;
         height: 60px;
    }
}
